<%- include('../_layouts/adminheader')%>
<h2 class="page-title">Categories</h2>
<a href="/admin/categories/add-category" class="btn-btn-primary">Add a new Categories</a>
<br><br>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Categories</th>
            <th>Edit</th>
            <th>Delete</th>

        </tr>
    </thead>
    <tbody>
        <% category.forEach(function(cat){%>
            <tr>
                <td><%= cat.title%></td>
                <td><a href="/admin/categories/edit-category/<%= cat._id %>">Edit</a></td>
                <td><a class="confirmDeletion" href="/admin/categories/delete-category/<%= cat._id %>">Delete</a></td>
            </tr>
            <%}) %>

    </tbody>
</table>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
<script>
</script>

<%- include('../_layouts/adminfooter')%>





